body {
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #game-container {
    border: 5px solid white;
  }
  